<h1>Person</h1>
Enter ID:   <input type="text" name="personId"   [(ngModel)]="person.id"  /> <br/>
Enter Name: <input type="text" name="personName" [(ngModel)]="person.name"  /> <br/><br/>
<button (click)="submit()"> Submit </button>
<br/><br/>
name : {{person.name}}<br/>
rollno : {{person.id}}<br/>
age : {{person.age}}<br/>
<ul>
    <li *ngFor="let hobby of person.hobbies" >{{hobby}}</li>
</ul>
<br/><br/>
<h3>Address</h3>
StreetNo: {{person.address.streetNo}} <br/>
City: {{person.address.city}} <br/>
State: {{person.address.state}} <br/><br/>
