<!-- <app-test></app-test>
<app-test2></app-test2> -->
<!-- <app-login></app-login> -->
<app-header></app-header>
<!-- <app-register></app-register> -->
<!-- <app-show-employee></app-show-employee> -->
<!-- <app-show-employee-by-id></app-show-employee-by-id> -->
<router-outlet></router-outlet>